<div *ngIf="loading" class="overlay-spinner">
  <mat-progress-spinner
    class="spinner"
    color="primary"
    mode="indeterminate"
  >
  </mat-progress-spinner>
</div>
<mat-tab-group class="details">
  <mat-tab label="Details" >
    <ng-template matTabContent>
      <app-training-details [training]="training" [editable]="editable"
                            (editRequest)="toggleEdit()"></app-training-details>
    </ng-template>
  </mat-tab>
  <mat-tab label="Comments" *ngIf="authenticationService.isLogged()">
    <ng-template matTabContent> <app-training-comments [trainingId]="training.id"></app-training-comments>
    </ng-template>
  </mat-tab>
  <mat-tab label="Subscribers" *ngIf="authenticationService.isLogged()">
    <ng-template matTabContent>Content 3
    </ng-template>
  </mat-tab>
</mat-tab-group>

<div cdkDropListGroup class="activities-table">
  <div class="example-container" *ngFor="let item of activities | keyvalue">
    <table>
      <tr>
        <th>
          <mat-icon class="day-button" (click)="delete(item.key)" *ngIf="editable">delete</mat-icon>
        </th>
        <th>
          <h2>{{item.key}}</h2></th>
        <th>
          <mat-icon class="day-button" (click)="addActivity(item.key)" *ngIf="editable">add_circle</mat-icon>
        </th>
      </tr>
    </table>
    <div
      cdkDropList
      [cdkDropListData]="item.value"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let activity of item.value;let i = index;" cdkDrag
           [style.cursor]="editable ? 'move' : ''"
           [cdkDragDisabled]="!editable">
        <app-activity-info [activity]="activity" [editable]="editable"
                           (removeActivity)="removeActivity(item.value,i)"></app-activity-info>
      </div>
    </div>
  </div>
  <div class="example-container new-day-container" *ngIf="activities.size < 7 && editable">
    <span (click)="addNewDay()">
      <mat-icon class="new-button">add_box</mat-icon>
    </span>
  </div>
</div>


