.details {
  float: left;
  width: 30%;
  background-color: lightgoldenrodyellow;
}

.activities-table {
  float: left;
  width: 70%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  height: 100%;
  vertical-align: center;
}

.example-container {
  width: 20%;
  max-width: 20%;
  height: 40%;
  margin: 0 25px 25px 0;
  display: inline-block;
  font-size: 1vh;
  text-align: center;

}

.example-list {
  border: solid 1px #ccc;
  min-height: 30px;
  background: white;
  border-radius: 4px;
  overflow: auto;
  overflow-x: -moz-scrollbars-none;
  display: block;
  max-height: 95%;
  height: 100%;
}

.example-box {
  padding: 10px 5px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background: white;
  font-size: 11px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  /*border: none;*/
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.input_field {
  width: 200px;
}

.results .cdk-drag-placeholder {
  background-color: rgba(150, 150, 150, 0.8);
}

.new-day-container {
  vertical-align: center;
  horiz-align: center;
}

.new-button {
  cursor: pointer;
  font-size: 50px;
}

