<div *ngIf="loading" class="overlay-spinner">
  <mat-progress-spinner
    class="spinner"
    color="primary"
    mode="indeterminate"
  >
  </mat-progress-spinner>
</div>
<mat-card class="details" style="height: 100%">
  <mat-card-actions style="display:flex;justify-content: space-evenly">
    <button mat-raised-button color="accent"  (click)="activate()"
            *ngIf="authenticationService.isLogged() && !editable">Activate</button>
    <button mat-raised-button color="accent" (click)="publish()"
            *ngIf="authenticationService.getUsername() === training.username && training.id && !training.published">Publish
    </button>
    <button mat-raised-button color="primary" (click)="toggleEdit()"
            *ngIf="!editable && authenticationService.getUsername() === training.username">Edit
    </button>
    <button mat-raised-button color="primary" (click)="toggleEdit()"
            *ngIf="editable &&  authenticationService.getUsername() === training.username">Save
    </button>
    <button mat-raised-button color="warn" (click)="deleteTraining()"
            *ngIf="authenticationService.getUsername() === training.username && training.id">Delete
    </button>
  </mat-card-actions>
  <mat-card-header class="card-header">
    <!--    <div mat-card-avatar class="example-header-image"></div>-->
    <div style="width: 100%">
      <mat-card-title>
        <span *ngIf="!editable">{{training.name}}</span>
        <mat-form-field *ngIf="editable">
          <mat-label>Name</mat-label>
          <input  required matInput [(ngModel)]="training.name">
        </mat-form-field>
      </mat-card-title>
      <mat-card-subtitle>{{training.username}}</mat-card-subtitle>
      <mat-card-subtitle>
        <span *ngIf="!editable">{{training.difficulty}}</span>
        <mat-form-field *ngIf="editable">
          <mat-label>Select an option</mat-label>
          <mat-select [(value)]="training.difficulty">
            <mat-option value="EASY">EASY</mat-option>
            <mat-option value="MEDIUM_EASY">MEDIUM EASY</mat-option>
            <mat-option value="MEDIUM">MEDIUM</mat-option>
            <mat-option value="MEDIUM_HARD">MEDIUM HARD</mat-option>
            <mat-option value="HARD">HARD</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-subtitle>
      <mat-card-subtitle *ngIf="!editable">
        <star-rating value="{{training.rate}}" checkedcolor="yellow" uncheckedcolor="black" size="24px"
                     readonly="{{rated}}" (rate)="onRate($event)"></star-rating>
      </mat-card-subtitle>
      <!--      <mat-card-subtitle>{{training.author.firstName + ' ' + training.author.lastName}}</mat-card-subtitle>-->
    </div>

  </mat-card-header>
  <!--  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
  <mat-card-content >
    <mat-tab-group>
      <mat-tab label="Details">
        <ng-template matTabContent>
          <app-training-details [training]="training" [editable]="editable"></app-training-details>
        </ng-template>
      </mat-tab>
      <mat-tab label="Comments" *ngIf="authenticationService.isLogged() && training.id">
        <ng-template matTabContent>
          <app-training-comments [trainingId]="training.id"></app-training-comments>
        </ng-template>
      </mat-tab>
<!--      <mat-tab label="Subscribers" *ngIf="authenticationService.isLogged() && training.id">-->
<!--        <ng-template matTabContent>Content 3-->
<!--        </ng-template>-->
<!--      </mat-tab>-->
    </mat-tab-group>
  </mat-card-content>
</mat-card>


<div cdkDropListGroup class="activities-table">
  <div class="example-container" *ngFor="let item of activities | keyvalue">
    <table>
      <tr>
        <th>
          <mat-icon class="day-button" (click)="delete(item.key)" *ngIf="editable">delete</mat-icon>
        </th>
        <th>
          <h2>{{item.key}}</h2></th>
        <th>
          <mat-icon class="day-button" (click)="addActivity(item.key)" *ngIf="editable">add_circle</mat-icon>
        </th>
      </tr>
    </table>
    <div
      cdkDropList
      [cdkDropListData]="item.value"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let activity of item.value;let i = index;" cdkDrag
           [style.cursor]="editable ? 'move' : ''"
           [cdkDragDisabled]="!editable">
        <app-activity-info [activity]="activity" [editable]="editable"
                           (removeActivity)="removeActivity(item.value,i)"></app-activity-info>
      </div>
    </div>
  </div>
  <div class="example-container new-day-container" *ngIf="activities.size < 7 && editable">
    <span (click)="addNewDay()">
      <mat-icon class="new-button">add_box</mat-icon>
    </span>
  </div>
</div>


