.training-details {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0.5);
}
.card-header{
  width: 100%;
  display: flex;
  /*justify-content: space-between;*/
}
