/*.nav-item {*/
/*  margin: 1%;*/
/*}*/

/*.TZ {*/
/*  font-size: 50px;*/
/*  font-family: Perpetua Titling MT, serif;*/
/*}*/

/*li {*/
/*  position: relative;*/
/*  border: 5px;*/
/*}*/

/*.allnavbar {*/
/*  position: fixed;*/
/*  z-index: 999;*/
/*  width: 100%;*/
/*  height: 10%;*/
/*}*/
a {
  text-decoration: none;
  color: white;
}

a h1 {
  color: #000;
}

a:hover, a:active {
  color: lightgray;
}

mat-toolbar {
}

@media (max-width: 959px) {
  mat-toolbar {
  }
}

.active {
  color: #ffd740;
}
.right-bar{
  flex: 1 1 auto;
}

