<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a mat-raised-button routerLink="/">
      <h1>Trenzone</h1>
    </a>
    <div class="links" *ngIf="authenticationService.getRoles()[0] != 'ROLE_ADMIN'">
      <a *ngIf="authenticationService.isLogged()" mat-button
         routerLink="/user" routerLinkActive="active">User Board</a>
      <a routerLink="/trainings" mat-button routerLinkActive="active">Search</a>
      <a *ngIf="authenticationService.isLogged()" mat-button routerLinkActive="active"
         routerLink="/training-creator">New Training</a>
      <span *ngIf="trainingURLs && trainingURLs.size>0" style="float: left">
        <button mat-button [matMenuTriggerFor]="menu"
                [ngClass]="{'active': showingTraining}">Training</button>
          <mat-menu #menu="matMenu">
            <a mat-menu-item style="color:grey" *ngFor="let trainingId of trainingURLs; let i = index;"
               [routerLink]="['training', trainingId]" routerLinkActive="active"
            >{{'Training ' + (i + 1)}}</a>
          </mat-menu>
      </span>
      <span class="right-bar">
      </span>
      <a *ngIf="!authenticationService.isLogged()" mat-button routerLinkActive="active"
         routerLink="/login">Login</a>
      <a *ngIf="authenticationService.isLogged()" mat-button
         (click)="tokenStorage.signOut();" routerLink="/">Log out</a>
    </div>
    <div class="links" *ngIf="authenticationService.getRoles()[0] == 'ROLE_ADMIN'">
      <a *ngIf="authenticationService.isLogged()" mat-button
         routerLink="/user" routerLinkActive="active">Admin Board</a>
      <a routerLink="/trainings" mat-button routerLinkActive="active">Search</a>
      <a *ngIf="!authenticationService.isLogged()" mat-button routerLinkActive="active"
         routerLink="/login">Login</a>
      <a *ngIf="authenticationService.isLogged()" mat-button
         (click)="tokenStorage.signOut();" routerLink="/">Log out</a>
    </div>
    <!--    <nav class="navbar navbar-expand-lg navbar-light bg-light allnavbar">-->
    <!--      <a class="navbar-brand TZ" routerLink="/">TZ</a>-->
    <!--      <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
    <!--        <ul class="navbar-nav mr-auto">-->
    <!--          <li *ngIf="authenticationService.isLogged()" class="nav-item">-->
    <!--            <a class="btn btn-info" routerLink="/user">User Board</a>-->
    <!--          </li>-->
    <!--          <li class="nav-item">-->
    <!--            <a routerLink="/trainings" class="btn btn-info">List of Trainings</a>-->
    <!--          </li>-->
    <!--          <li *ngIf="authenticationService.isLogged()" class="nav-item" style="float:right;">-->
    <!--            <a routerLink="/training-creator" class="btn btn-info">New Training</a>-->
    <!--          </li>-->
    <!--          <li *ngIf="!authenticationService.isLogged()" class="nav-item">-->
    <!--            <a class="btn btn-primary" routerLink="/auth/login">Login</a>-->
    <!--          </li>-->
    <!--          <li *ngIf="authenticationService.isLogged()" class="nav-item">-->
    <!--            <a class="btn btn-primary" (click)="tokenStorage.signOut()" routerLink="/">Log out</a>-->
    <!--          </li>-->
    <!--        </ul>-->
    <!--      </div>-->
    <!--    </nav>-->
  </mat-toolbar-row>
</mat-toolbar>
