<div class="comments">
  <mat-list class="comments-list" style="width:100%; overflow: scroll">
    <mat-list-item *ngFor="let c of comments">
    <span matLine>
      <b>{{c.username}}</b>   {{c.date | date:'medium'}}
    </span>
      <span matLine>{{c.content}}</span>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
  <div class="'new-comment" style="display: flex; justify-content: space-around">
    <mat-form-field style="width: 100%;" (keydown.enter)="sendComment()">
      <mat-label>New Comment:</mat-label>
      <textarea matInput placeholder="Review" [(ngModel)]="newComment.content"></textarea>
    </mat-form-field>
    <button mat-flat-button color="accent" (click)="sendComment()" style="max-height: 30px;">Send</button>
  </div>
</div>
