<div class="comments" style="width:100%;">
  <mat-list class="comments-list">
    <mat-list-item *ngFor="let c of comments">
    <span mat-line>
      {{c.username}}   {{c.date | date}}
    </span>
      <span mat-line>{{c.content}}</span>
    </mat-list-item>
  </mat-list>
  <div class="'new-comment">
    <mat-form-field mat-line>
      <mat-label>New Review:</mat-label>
      <textarea matInput placeholder="Address" [(ngModel)]="newComment.content"></textarea>
    </mat-form-field>
    <button mat-flat-button color="accent" (click)="sendComment()">Send</button>
  </div>
</div>
