<!--<div id="item-container">-->
<!--  <div id="title">-->
<!--    <a [routerLink]="['/training', training.id]"><h1>{{training.name}}</h1></a>-->
<!--    <u>{{training.tags}}</u>-->
<!--  </div>-->
<!--</div>-->
<mat-card-header class="card-header">
  <mat-card-title>
    <star-rating value="{{training.rate}}" checkedcolor="yellow" uncheckedcolor="black" size="24px"
                 readonly="true"></star-rating>
    <a style="text-decoration: none;color:black" (click)="navigateTo(training.id,training.name)"
       [routerLink]="['/training', training.id]" [state]="{name: training.name}">{{training.name}}</a>

    <mat-chip-list style="float:right">
      <mat-chip *ngFor="let tag of training.tags">{{tag}}</mat-chip>
    </mat-chip-list>
  </mat-card-title>
  <mat-card-subtitle> Created at {{training.date | date:'medium'}} by {{training.username}}
    <span title="comments">{{', comments: ' + training.commentsSize }}</span>
    <span title="comments">{{ ' ratings: ' + training.ratesSize }}</span>
    <span title="comments">{{' training days: ' + training.daysSize }}</span>
    <span title="comments">{{ ' exercises: ' + training.exercisesSize }}</span>
  </mat-card-subtitle>
</mat-card-header>
