<!--<div id="item-container">-->
<!--  <div id="title">-->
<!--    <a [routerLink]="['/training', training.id]"><h1>{{training.name}}</h1></a>-->
<!--    <u>{{training.tags}}</u>-->
<!--  </div>-->
<!--</div>-->
  <mat-card-header class="card-header">
      <mat-card-title>
        <a style="text-decoration: none;color:black" [routerLink]="['/training', training.id]">{{training.name}}</a>
      </mat-card-title>
      <mat-card-subtitle> Created at {{training.date | date:'medium'}} by {{training.username}} </mat-card-subtitle>
    <mat-chip-list>
    <mat-chip *ngFor="let tag of training.tags">{{tag}}</mat-chip>
  </mat-chip-list>
  </mat-card-header>
