<div *ngIf="this.authService.getRoles()[0] === 'ROLE_ADMIN'; else loggedIn">
  <app-admin-board></app-admin-board>
</div>
<ng-template #loggedIn>
  <div class="user-board">
    <div class="column">
      <app-user-details></app-user-details>
    </div>
    <div class="column">
      <div class="row">
        <app-user-trainings (show)="showAchievFor($event)"></app-user-trainings>
      </div>
      <div class="row">
        <app-user-achievements [trainingId]="clickedTrainingId"></app-user-achievements>
      </div>
    </div>
  </div>
</ng-template>
