<nav class="navbar navbar-expand-lg navbar-light bg-light allnavbar">
  <a class="navbar-brand TZ" routerLink="/">TZ</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a routerLink="/training" class="btn btn-info">List of Trenings</a>
      </li>
      <li class="nav-item">
        <a routerLink="/addtraining" class="btn btn-info">Add Trening</a>
      </li>
      <li class="nav-item">
        <a routerLink="/newaddtraining" class="btn btn-info">New Add Training</a>
      </li>
      <li class="nav-item">
        <a routerLink="/exercise" class="btn btn-info">Available Exercises</a>
      </li>
      <li *ngIf="authority === 'user'" class="nav-item">
        <a class="btn btn-info" routerLink="/user">User Board</a>
      </li>
      <li *ngIf="authority === 'admin'" class="nav-item">
        <a class="btn btn-info" routerLink="/admin">Admin Board</a>
      </li>
      <li *ngIf="authority === 'pm'" class="nav-item">
        <a class="btn btn-info" routerLink="/pm">PM Board</a>
      </li>
      <li *ngIf="!authority" class="nav-item">
        <a class="nav-link" routerLink="/auth/login">Login</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="routerdiv">
  <router-outlet>

  </router-outlet>
</div>

