<div class="list-container">
  <div class="search-bar">
    <app-trainings-search-panel (query)="search($event)"></app-trainings-search-panel>
  </div>
  <div class="results-bar">

    <mat-card>
      <div *ngIf="loading" class="overlay-spinner">
        <mat-progress-spinner
          class="spinner"
          color="primary"
          mode="indeterminate"
        >
        </mat-progress-spinner>
      </div>
      <table *ngIf="trainingsList && trainingsList.length > 0;else noResults" class="results">
        <thead>
        <label id="example-radio-group-label">Sort by:</label>
        <mat-button-toggle-group #group="matButtonToggleGroup">
<!--          <mat-button-toggle *ngFor="let option of searchOption" value="name" (click)="changeSort('name')" *ngIf="group.value == 'name'">Name-->
<!--            <mat-icon>{{direction == 1 && group.value == 'name' ? 'arrow_downward' : 'arrow_upward'}}</mat-icon>-->
<!--          </mat-button-toggle>-->
          <mat-button-toggle value="name" (click)="changeSort('name')">Name
            <mat-icon  *ngIf="group.value == 'name'">{{direction == 1 && group.value == 'name' ? 'arrow_downward' : 'arrow_upward'}}</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="rating" (click)="changeSort('rating')"> Rating
            <mat-icon  *ngIf="group.value == 'rating'">{{direction == 1 && group.value == 'rating' ? 'arrow_downward' : 'arrow_upward'}}</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="comments" (click)="changeSort('comments')">Popularity
            <mat-icon *ngIf="group.value == 'comments'">{{direction == 1 && group.value == 'comments' ? 'arrow_downward' : 'arrow_upward'}}</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
        <!--        <mat-paginator-->
        <!--          [length]="searchResult.totalElements"-->
        <!--          [pageSize]="searchResult.size"-->
        <!--          [pageSizeOptions]="[2, 5, 10]"-->
        <!--          (page)="changeResults($event)">-->
        <!--        </mat-paginator>-->
        </thead>
        <tr *ngFor="let element of trainingsList">
          <td>
            <app-training-search-item [training]="element"></app-training-search-item>
          </td>
        </tr>
      </table>
      <ng-template #noResults>No results found</ng-template>

    </mat-card>
  </div>
</div>
