.list-container {
  position: relative;
  justify-content: space-between;
  width:100%;
  height: 100%;
}

.search-bar {
  position: relative;
  float: left;
  width: 20%;
  background: white;
  padding: 5px;
  height: 100%;
}

.results-bar {
  float: left;
  width: 80%;
  background-color: powderblue;
  height: 100%;
}

.results {
  width: 100%;
}

.overlay-spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  alignment: center;
  background: rgba(5, 5, 5, .2);
}
