.list-container {
  position: relative;
  justify-content: space-between;
}

.search-bar {
  position: relative;
  float:left;
  width: 20%;
  background-color: lightskyblue;
  height: 100%;
}

.results-bar {
  position: relative;
  float: left;
  width: 80%;
  background-color: powderblue;
  height: 100%;
}
