
  <h1 mat-dialog-title>Exercise:</h1>
  <mat-dialog-content  class="dialog_container">
    <table>
      <tr>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input required matInput [(ngModel)]="data.name">
        </mat-form-field>
      </tr>
      <tr>
        <mat-form-field>
          <mat-label>Quantity</mat-label>
          <input matInput [(ngModel)]="data.quantity">
        </mat-form-field>
      </tr>
      <tr>
        <mat-form-field>
          <mat-label>Number of series</mat-label>
          <input matInput [(ngModel)]="data.series">
        </mat-form-field>
      </tr>
      <tr>
        <mat-form-field>
          <mat-label>Unit</mat-label>
          <input matInput [(ngModel)]="data.unit">
        </mat-form-field>
      </tr>
    </table>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-button (click)="onNoClick()">Go back</button>
    <button mat-button [mat-dialog-close]="data">Save</button>
  </mat-dialog-actions>
